<div class="card bg-light">
    <article class="card-body mx-auto w-50 p-3" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <form class="w-100 p-3" #registration ="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="username" class="form-control" placeholder="Full name" type="text" [(ngModel)]="UserModel.username">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="email" class="form-control" placeholder="Email address" type="email" [(ngModel)]="UserModel.email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <input name="phonenumber" class="form-control" placeholder="Phone number" type="text" [(ngModel)]="UserModel.phonenumber">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <input name="streetnumberandname" class="form-control" placeholder="Street number and Name" type="text" [(ngModel)]="UserModel.streetnumberandname">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <input name="nameoftown" class="form-control" placeholder="Name of town" type="text" [(ngModel)]="UserModel.nameoftown">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <input name="postcode" class="form-control" placeholder="Postcode" type="text" [(ngModel)]="UserModel.postcode">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Create password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Repeat password" type="password" name="password" [(ngModel)]="UserModel.password">
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a href=""  routerLink="/sign" routerLinkActive="active">Log In</a> </p>                                                                 
    </form>
    </article>
    </div> <!-- card.// -->
    
    