
    <div id="logreg-forms">
        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
            </div>
            <p style="text-align:center"> OR  </p>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email" [(ngModel)]="UserModel.email">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password" [(ngModel)]="UserModel.password">
            
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <a href="#" id="forgot_pswd">Forgot password?</a>
            <hr>
            <a class="btn btn-primary text-white" routerLink="/registration" routerLinkActive="active">Sign up new Account</a>
        </form>
    </div>
